services:

  odoo:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      HOST: postgres
      USER: odoo
      PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - filestore:/var/lib/odoo
      - ./odoo.conf:/etc/odoo.conf:ro
    command: ["odoo", "-c", "/etc/odoo.conf"]
    expose:
      - "8069"
    restart: unless-stopped
    networks:
      - kura_net

volumes:
  db:
  filestore:

networks:
  kura_net:
    external: true
