gevent==21.8.0
greenlet==1.1.2
signxml==3.2.1
validators
xades
pandas
openpyxl
pdfrw
PyPDF2
XlsxWriter
xlrd
Unidecode
boto3
Dropbox
pyncclient
paramiko
nextcloud-api-wrapper
cryptography==3.4.8
pyOpenSSL==21.0.0
urllib3
xmlsig==1.0.1
lxml
pyocclient
gTTS
phonenumbers
pyqrcode
pem
pypng
escpos
fsspec
s3fs
